<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<table border="1">
	<tr>
		<th>Date</th>
		<th>Message</th>
	</tr>
	<% @user.microposts.each do |micropost| %>
	  <tr>
	    <td><%= micropost.created_at %></td>
	    <td><%= micropost.content %></td>
	  </tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
